<!DOCTYPE html>
<html lang="en">
<head>
    <title>Laoli丶| 博博博客</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta name="Author" content="Laoli丶" />
    <meta name="keywords" content="Laoli丶个人博客，个人网站，随笔，分享，技术，沙雕" />
    <meta name="description" content="Laoli丶个人博客，分享一个沙雕的生活" />
    <link rel="icon" href="/favicon.png" type="image/x-icon">
</head>
<body>
    <div id="root"></div>
</body>
</html>
